body {
    background-color: black;
    margin: 0;
    overflow: auto;
  }
  
  .example::-webkit-scrollbar {
    display: none;
  }
  
  .parent {
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
  }
  
  .picture {
    width: 25%;
    height: auto;
    top: 10%;
    left: 5%;
    position: absolute;
    object-fit: contain;
  }
  
  .name {
    width: 16%; /* Reduced by 20% */
    height: auto;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    position: absolute;
  }
  
  .socials {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .facebook,
  .twitter,
  .instagram,
  .phone {
    width: 52.57px;
    height: 52.57px;
    display: inline-block;
    margin: 0 10px;
    border-radius: 6px;
  }
  
  .phone {
    width: 210px;
    height: 52px;
    border-radius: 35px;
    background: linear-gradient(95.5deg, #ae6f59 41.76%, #b49387 128.51%);
  }
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones */
    .picture,
    .name {
      width: 80%;
      left: 10%;
    }
  
    .socials {
      bottom: 25%;
    }
  }
  